In [1]:
from personal import paduel
your_finnhub_api_key_here = paduel.finnhub_api_key

In [2]:
from fhub import Session

hub = Session(your_finnhub_api_key_here)

In [3]:
# Download prices time serie of Tesla.
tsla = hub.candle('TSLA')

In [4]:
tsla

                      close    high     low    open    volume
datetime
2010-06-29 13:30:00   23.89   25.00   17.54   19.00  18766300
2010-06-30 13:30:00   23.83   30.42   23.30   25.79  17187100
2010-07-01 13:30:00   21.96   25.92   20.27   25.00   8218800
2010-07-02 13:30:00   19.20   23.10   18.71   23.00   5139800
2010-07-06 13:30:00   16.11   20.00   15.83   20.00   6866900
...                     ...     ...     ...     ...       ...
2020-05-04 13:30:00  761.19  762.00  698.00  701.00  19237100
2020-05-05 13:30:00  768.21  798.92  762.18  789.79  16991700
2020-05-06 13:30:00  782.58  789.80  761.11  776.50  11123200
2020-05-07 13:30:00  780.04  796.40  772.35  777.21  11527700
2020-05-08 13:30:00  819.42  824.00  787.01  793.77  16086500

[2483 rows x 5 columns]

In [5]:
# Download prices for several tickers from a date.
hub.candle(['AMZN', 'NFLX', 'DIS'], start="2018-01-01")

                         close                       high                    \
                          AMZN       DIS    NFLX     AMZN       DIS    NFLX
datetime
2018-01-02 14:30:00  1189.0100  108.7261  201.07  1190.00  108.7361  201.65
2018-01-03 14:30:00  1204.2000  109.1929  205.05  1205.49  110.1029  206.21
2018-01-04 14:30:00  1209.5900  109.1442  205.63  1215.87  109.9142  207.05
2018-01-05 14:30:00  1229.1400  108.5510  209.99  1229.14  109.6110  210.02
2018-01-08 14:30:00  1246.8700  106.9950  212.05  1253.08  108.2550  212.50
...                        ...       ...     ...      ...       ...     ...
2020-05-04 13:30:00  2315.9900  103.1800  428.15  2326.98  103.8300  428.54
2020-05-05 13:30:00  2317.8000  101.0600  424.68  2351.00  105.1800  431.00
2020-05-06 13:30:00  2351.2600  100.8800  434.26  2357.45  105.2700  439.77
2020-05-07 13:30:00  2367.6101  105.5700  436.53  2376.00  105.6100  438.88
2020-05-08 13:30:00  2379.6101  109.1600  435.55  2387.24  109.1800  442.00

                           low                         open                    \
                          AMZN       DIS    NFLX       AMZN       DIS    NFLX
datetime
2018-01-02 14:30:00  1170.5100  105.4861  195.42  1172.0000  105.8761  196.10
2018-01-03 14:30:00  1188.3000  108.3629  201.50  1188.3000  109.1029  202.05
2018-01-04 14:30:00  1204.6600  108.5442  204.00  1205.0000  109.8642  206.20
2018-01-05 14:30:00  1210.0000  108.1710  205.59  1217.5100  109.6110  207.25
2018-01-08 14:30:00  1232.0300  106.5150  208.44  1236.0000  107.8650  210.02
...                        ...       ...     ...        ...       ...     ...
2020-05-04 13:30:00  2256.3799  100.5500  414.87  2256.3799  102.0100  417.78
2020-05-05 13:30:00  2307.1299  100.9000  421.56  2340.0000  101.5100  427.56
2020-05-06 13:30:00  2320.0000   98.8600  426.39  2329.4399  101.4800  429.30
2020-05-07 13:30:00  2343.1101  101.8300  430.66  2374.7800  101.8500  436.89
2020-05-08 13:30:00  2357.0000  106.6300  433.64  2372.1399  109.0500  434.14

                      volume
                        AMZN       DIS      NFLX
datetime
2018-01-02 14:30:00  2694500  11014300  10966900
2018-01-03 14:30:00  3108800   9237900   8591400
2018-01-04 14:30:00  3022100   7417400   6029600
2018-01-05 14:30:00  3544700   6008300   7033200
2018-01-08 14:30:00  4279500   8052600   5580200
...                      ...       ...       ...
2020-05-04 13:30:00  4865900  19514800   7799100
2020-05-05 13:30:00  3242500  30169800   6286300
2020-05-06 13:30:00  3117800  51992400   6660700
2020-05-07 13:30:00  3396400  20868800   5641900
2020-05-08 13:30:00  3206600  24079700   5049300

[592 rows x 15 columns]

In [32]:
hub.exchanges('forex')

         forex
0        oanda
1         fxcm
2    forex.com
3    icmtrader
4   ic markets
5        fxpro
6       octafx
7        fxpig
8  pepperstone

In [33]:
hub.symbols('ic markets', kind='forex')

,description,displaySymbol,symbol
0,IC MARKETS Silver vs Euro XAGEUR,XAG/EUR,IC MARKETS:44
1,IC MARKETS Silver vs US Dollar XAGUSD,XAG/USD,IC MARKETS:42
2,IC MARKETS Gold vs Euro XAUEUR,XAU/EUR,IC MARKETS:43
3,IC MARKETS Gold vs US Dollar XAUUSD,XAU/USD,IC MARKETS:41
4,IC MARKETS Euro vs US Dollar EURUSD,EUR/USD,IC MARKETS:1
...,...,...,...
77,IC MARKETS Brent Crude Oil XBRUSD,XBR/USD,IC MARKETS:10018
78,IC MARKETS WTI Light Crude Oil XTIUSD,XTI/USD,IC MARKETS:10019
79,IC MARKETS Euro vs US Dollar EURUSDt,EUR10023/USD,IC MARKETS:10023
80,IC MARKETS Bitcoin BTCUSD,BTC/USD,IC MARKETS:10026
81,IC MARKETS Great Britain Pound vs Turkish Lira...,GBP/TRY,IC MARKETS:10031

In [34]:
hub.quote('OANDA:XAU_NZD')

                      OANDA:XAU_NZD
close                       2765.79
high                        2815.09
low                         2763.68
open                        2813.03
previous_close               2814.9
datetime        2020-05-07 21:00:00

In [35]:
hub.candle('IC MARKETS:44', kind='forex')

                      close    high     low    open  volume
datetime
2019-05-09 21:00:00  13.126  13.196  13.107  13.136   28710
2019-05-12 21:00:00  13.127  13.160  12.992  13.149   25589
2019-05-13 21:00:00  13.186  13.243  13.111  13.152   26572
2019-05-14 21:00:00  13.193  13.255  13.167  13.192   26853
2019-05-15 21:00:00  13.016  13.221  12.978  13.198   22359
...                     ...     ...     ...     ...     ...
2020-05-03 21:00:00  13.547  13.770  13.420  13.595   41875
2020-05-04 21:00:00  13.794  13.849  13.512  13.525   40060
2020-05-05 21:00:00  13.754  14.011  13.713  13.772   48147
2020-05-06 21:00:00  14.164  14.243  13.693  13.701   48996
2020-05-07 21:00:00  14.260  14.403  14.031  14.148   45536

[258 rows x 5 columns]

In [36]:
hub.covid19()

                        state    case  death             updated
0                    New York  345871  26776 2020-05-10 16:00:03
1                  New Jersey  138754   9256 2020-05-10 16:00:03
2                  California   66826   2695 2020-05-10 16:00:03
3                    Michigan   46815   4530 2020-05-10 16:00:03
4                     Florida   40433   1716 2020-05-10 16:00:03
..                        ...     ...    ...                 ...
57              Wuhan Evacuee       4      0 2020-05-10 16:00:03
58   Northern Mariana Islands      16      2 2020-05-10 16:00:03
59                US Military    7826     27 2020-05-10 16:00:03
60  Federal Bureau of Prisons    3695     46 2020-05-10 16:00:03
61             Veteran Affair   10930    857 2020-05-10 16:00:03

[62 rows x 4 columns]

In [37]:
hub.executive('AAPL')

,age,compensation,currency,name,position,sex,since,symbol
0,69.0,557922.0,USD,Dr. Arthur Levinson,Independent Chairman of the Board,male,2011,AAPL
1,59.0,11555466.0,USD,Mr. Timothy Cook,"Chief Executive Officer, Director",male,2011,AAPL
2,56.0,25209637.0,USD,Mr. Luca Maestri,"Chief Financial Officer, Senior Vice President",male,2014,AAPL
3,56.0,25207919.0,USD,Mr. Jeffrey Williams,Chief Operating Officer,male,2018,AAPL
4,55.0,25231800.0,USD,Ms. Katherine Adams,"Senior Vice President, General Counsel, Secretary",female,2017,AAPL
5,58.0,11677211.0,USD,Mr. Philip Schiller,Senior Vice President - Worldwide Marketing,male,2002,AAPL
6,56.0,22807544.0,USD,Mr. Eddy Cue,Senior Vice President - Internet Software and ...,male,2011,AAPL
7,48.0,NaN,,Mr. Craig Federighi,Senior Vice President - Software Engineering,male,2012,AAPL
8,NaN,NaN,,Mr. John Giannandrea,Senior Vice President - Machine Learning and A...,male,2018,AAPL
9,53.0,19159780.0,USD,Ms. Deirdre O'Brien,Senior Vice President - Retail + People,female,2019,AAPL
10,55.0,24146046.0,USD,Mr. Daniel Riccio,Senior Vice President - Hardware Engineering,male,2012,AAPL
11,54.0,24162392.0,USD,Mr. Johny Srouji,Senior Vice President - Hardware Technologies,male,2015,AAPL
12,71.0,355837.0,USD,Mr. James Bell,Independent Director,male,2015,AAPL
13,71.0,360264.0,USD,Mr. Albert Gore,Independent Director,male,2003,AAPL
14,61.0,385388.0,USD,Ms. Andrea Jung,Independent Director,female,2008,AAPL
15,71.0,400878.0,USD,Dr. Ronald Sugar,Independent Director,male,2010,AAPL
16,57.0,354923.0,USD,Ms. Sue Wagner,Independent Director,female,2014,AAPL
17,67.0,398988.0,USD,Mr. Robert Iger,Independent Director,male,2011,AAPL
18,59.0,22278242.0,USD,Ms. Angela Ahrendts,Senior Vice President - Retail,female,2014,AAPL
19,NaN,NaN,,Mr. Jonathan Ive,Chief Design Officer,male,None,AAPL
20,58.0,24146046.0,USD,Mr. Durward Sewell,"Senior Vice President, General Counsel, Secretary",male,2009,AAPL
21,NaN,NaN,,Ms. Nancy Paxton,IR Contact Officer,female,2016,AAPL
22,72.0,25622.0,USD,Mr. Millard Drexler,Independent Director,male,1999,AAPL
23,56.0,4517720.0,USD,Mr. Peter Oppenheimer,Senior Vice President,male,2014,AAPL
24,74.0,NaN,,Mr. William Campbell,Independent Director,male,1997,AAPL
25,NaN,85540637.0,USD,Mr. Robert Mansfield,Senior Vice President - Technologies,male,2013,AAPL
26,54.0,NaN,,Mr. John Browett,Senior Vice President - Retail,male,2012,AAPL
27,43.0,1416527.0,USD,Mr. Scott Forstall,Senior Vice President - iPhone Software Engine...,male,2008,AAPL
28,54.0,1416143.0,USD,Mr. Ronald Johnson,Senior Vice President - Retail,male,2000,AAPL
29,60.0,1.0,USD,Mr. Steven Jobs,Chairman of the Board,male,2011,AAPL
30,NaN,NaN,,Bertrand Serlet,Senior Vice President - Software Engineering,male,2003,AAPL
31,57.0,NaN,,Mr. Mark Papermaster,Senior Vice President - iPhone Engineering,male,None,AAPL
32,80.0,NaN,,Mr. Jerome York,Director,male,1997,AAPL
33,68.0,NaN,,Mr. Daniel Cooperman,"Senior Vice President, General Counsel, Secretary",male,2007,AAPL
34,64.0,NaN,,Dr. Eric Schmidt,Director,male,2006,AAPL
35,56.0,NaN,,Sina Tamaddon,Senior Vice President - Applications,male,2000,AAPL
36,44.0,NaN,,Anthony Fadell,Senior Vice President - iPod Division,male,None,AAPL
37,68.0,NaN,,Mr. Donald Rosenberg,"Senior Vice President, General Counsel, Secretary",male,2006,AAPL
38,74.0,668081.0,USD,Mr. Frederick Anderson,Director,male,2004,AAPL
39,60.0,NaN,,Ms. Nancy Heinen,"Senior Vice President, General Counsel and Sec...",female,1997,AAPL
40,62.0,1116634.0,USD,Mr. Jonathan Rubinstein,"Senior Vice President, iPod Division",male,1997,AAPL
41,58.0,5583019.0,USD,Dr. Avadis Tevanian,"Senior Vice President, Chief Software Technolo...",male,2003,AAPL
42,75.0,NaN,,Mr. Lawrence Ellison,Director,male,1997,AAPL
43,73.0,NaN,,Mr. Gareth Chang,Director,male,1996,AAPL
44,56.0,410141.0,USD,Mitchell Mandich,"Senior Vice President, Worldwide Sales",male,None,AAPL
45,84.0,NaN,,Mr. Edgar Woolard,Director,male,1996,AAPL

In [38]:
hub.news()

,category,datetime,headline,id,image,related,source,summary,url
0,top news,1589139068,Washington in talks with chipmakers about buil...,4297395,https://s4.reutersmedia.net/resources/r/?m=02&...,,Reuters,The Trump administration is in talks with semi...,https://www.reuters.com/article/us-usa-tech-tr...
1,top news,1589138966,Tesla says it will resume operations. Here is ...,4297344,https://image.cnbcfm.com/api/v1/image/10599747...,,CNBC,Tesla CEO Elon Musk has been sparring with reg...,https://www.cnbc.com/2020/05/10/coronavirus-te...
2,company news,1589138570,UPDATE 1-Washington in talks with chipmakers a...,4297337,https://s4.reutersmedia.net/resources_v2/image...,,Reuters,The Trump administration is in talks with\nsem...,https://www.reuters.com/article/usa-tech-trump...
3,company news,1589137713,UPDATE 1-Israel to demand changes at flag carr...,4297338,https://s3.reutersmedia.net/resources/r/?m=02&...,,Reuters,The Israeli government will\ndemand that El Al...,https://www.reuters.com/article/us-health-coro...
4,company news,1589135806,UPDATE 3-Latin America's second-biggest airlin...,4297227,https://s2.reutersmedia.net/resources/r/?m=02&...,,Reuters,"Avianca Holdings\n, Latin America's No. 2 airl...",https://www.reuters.com/article/us-avianca-hol...
5,top news,1589134922,No end to lockdown yet but 'careful' easing be...,4297117,https://s2.reutersmedia.net/resources/r/?m=02&...,,Reuters,British Prime Minister Boris Johnson said on S...,https://www.reuters.com/article/us-health-coro...
6,top news,1589134819,PM Boris Johnson's address to British people o...,4297118,https://s3.reutersmedia.net/resources/r/?m=02&...,,Reuters,British Prime Minister Boris Johnson made a te...,https://www.reuters.com/article/us-health-coro...
7,company news,1589132338,UPDATE 2-Colombia's Avianca airline files for ...,4296964,https://s3.reutersmedia.net/resources/r/?m=02&...,,Reuters,"Avianca Holdings SA\n, Latin America's second-...",https://www.reuters.com/article/us-avianca-hol...
8,business,1589131873,EU could open legal case against Germany over ...,4296962,https://s2.reutersmedia.net/resources/r/?m=02&...,,Reuters,The European Commission could open a legal cas...,https://www.reuters.com/article/us-ecb-policy-...
9,business,1589131451,Germany's Altmaier opposes active state role a...,4296963,https://s1.reutersmedia.net/resources/r/?m=02&...,,Reuters,"Germany is working on a ""concrete model"" to ai...",https://www.reuters.com/article/us-lufthansa-g...
10,top news,1589130606,New York to test nursing home staff twice a we...,4296852,https://s3.reutersmedia.net/resources/r/?m=02&...,,Reuters,All nursing homes in New York state will be re...,https://www.reuters.com/article/us-health-coro...
11,company news,1589130227,Colombia's Avianca files for bankruptcy,4296851,https://s3.reutersmedia.net/resources/r/?m=02&...,,Reuters,Colombian airline Avianca Inc filed for\nChapt...,https://www.reuters.com/article/us-avianca-hol...
12,company news,1589130227,Colombia's Avianca files for bankruptcy,4296905,https://s4.reutersmedia.net/resources_v2/image...,,Reuters,Colombian airline Avianca Inc filed for\nChapt...,https://www.reuters.com/article/avianca-holdin...
13,top news,1589129830,Mnuchin says jobless numbers will 'get worse b...,4296801,https://image.cnbcfm.com/api/v1/image/10652595...,,CNBC,"""The reported numbers are probably going to ge...",https://www.cnbc.com/2020/05/10/coronavirus-mn...
14,top news,1589129622,White House considers more coronavirus stimulu...,4296797,https://s2.reutersmedia.net/resources/r/?m=02&...,,Reuters,The White House has started informal talks wit...,https://www.reuters.com/article/us-usa-congres...
15,top news,1589127010,Schumer calls on VA to explain use of unproven...,4296695,https://image.cnbcfm.com/api/v1/image/10653032...,,CNBC,The Senate's top Democrat on Sunday called on ...,https://www.cnbc.com/2020/05/10/schumer-calls-...
16,business,1589126631,EU could open legal case again Germany over EC...,4296635,https://s2.reutersmedia.net/resources/r/?m=02&...,,Reuters,The European Commission could open a legal cas...,https://www.reuters.com/article/us-ecb-policy-...
17,top news,1589125126,"As 2020 presidential contest looms, U.S. Supre...",4296530,https://s3.reutersmedia.net/resources/r/?m=02&...,,Reuters,Bret Chiafalo had his bags packed in the weeks...,https://www.reuters.com/article/us-usa-court-e...
18,business,1589120707,"U.S. unemployment rate will get worse, Treasur...",4296270,https://s1.reutersmedia.net/resources/r/?m=02&...,,Reuters,The staggering U.S. unemployment rate reported...,https://www.reuters.com/article/us-health-coro...
19,top news,1589117754,Prince Charles thanks post workers for keeping...,4296105,https://s1.reutersmedia.net/resources/r/?m=02&...,,Reuters,Prince Charles and his wife Camilla have writt...,https://www.reuters.com/article/us-health-coro...

In [39]:
hub.company_news('NFLX')

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [40]:
hub.major_development('DIS', start='2019-01-01')

,symbol,datetime,headline,description
0,DIS,2020-05-05 22:46:27,The Walt Disney Company Says Q2 EPS Of $0.60 E...,THE WALT DISNEY COMPANY REPORTS SECOND QUARTER...
1,DIS,2020-05-05 22:46:23,"Walt Disney Co Says Furloughed Over 120,000 Em...","WALT DISNEY CO SAYS FURLOUGHED OVER 120,000 OF..."
2,DIS,2020-05-05 21:36:44,The Walt Disney Company To Forgo Next Semi-Ann...,THE WALT DISNEY COMPANY BOARD DECIDES TO FORGO...
3,DIS,2020-05-01 18:10:30,WarnerMedia And Hulu Reach Distribution Agreem...,WARNERMEDIA AND HULU REACH DISTRIBUTION AGREEM...
4,DIS,2020-04-23 13:34:27,S&P Says Disney Ratings Lowered To 'A-' Amid C...,S&P SAYS DISNEY RATINGS LOWERED TO 'A-' AMID C...
5,DIS,2020-04-13 21:32:22,Walt Disney Co Enters 364-Day Credit Agreement...,"WALT DISNEY CO - ON APRIL 10, 2020, ENTERED I..."
6,DIS,2020-04-12 20:41:09,"Disney World Furloughing 43,000 Workers - New ...",":DISNEY WORLD FURLOUGHING 43,000 WORKERS"
7,DIS,2020-04-08 22:49:02,Disney+ Paid Subscriber Count Surpasses 50 Mln...,DISNEY+ PAID SUBSCRIBER COUNT SURPASSES 50 MIL...
8,DIS,2020-04-02 22:22:08,Walt Disney's Furlough Process Will Begin On A...,STATEMENT FROM THE WALT DISNEY COMPANY REGARDI...
9,DIS,2020-03-30 22:38:29,Walt Disney Sees Reductions In Base Salary Amo...,WALT DISNEY CO - EFFECTING REDUCTIONS IN BASE ...
10,DIS,2020-03-27 19:53:12,Disney Says Disneyland Resort And Walt Disney ...,:WALT DISNEY CO SAYS DISNEYLAND RESORT AND WAL...
11,DIS,2020-03-23 14:05:59,"Walt Disney Co Says On March 19, 2020, Entered...","WALT DISNEY CO SAYS ON MARCH 19, 2020, ENTERED..."
12,DIS,2020-03-19 18:00:49,Walt Disney Files Preliminary Prospectus Suppl...,WALT DISNEY FILES PRELIMINARY PROSPECTUS SUPPL...
13,DIS,2020-03-17 22:23:37,Walt Disney Co Says Shareholders Approved Amen...,"WALT DISNEY CO - ON MARCH 11, SHAREHOLDERS APP..."
14,DIS,2020-03-13 00:36:10,"Disney Closure Of Theme Parks In Florida, Disn...",:THEME PARKS AT WALT DISNEY WORLD RESORT IN FL...
15,DIS,2020-03-12 22:32:41,S&P Revises Walt Disney's Outlook To Negative ...,S&P :S&P SAYS THE WALT DISNEY CO. OUTLOOK REVI...
16,DIS,2020-03-11 21:54:48,Walt Disney Says Entered Into New $5.25 Billio...,"WALT DISNEY - ON MARCH 6, CO ENTERED INTO NEW ..."
17,DIS,2020-02-25 21:34:47,Disney Says Bob Chapek To Succeed CEO Robert Iger,BOB CHAPEK NAMED CHIEF EXECUTIVE OFFICER OF TH...
18,DIS,2020-02-21 12:48:02,Hasbro And Disney Extend Strategic Merchandisi...,HASBRO AND DISNEY EXTEND STRATEGIC MERCHANDISI...
19,DIS,2020-02-04 22:48:12,Disney Says Shanghai And Hong Kong Parks Closu...,WALT DISNEY - RECENT CLOSURE OF PARKS IN SHAN...

In [41]:
hub.available_metrics

['price',
 'valuation',
 'growth',
 'margin',
 'management',
 'financialStrength',
 'perShare']

In [42]:
hub.metrics('AMZN', 'management')

                                   AMZN
assetTurnoverAnnual             1.44638
assetTurnoverTTM                1.48381
inventoryTurnoverAnnual         8.78851
inventoryTurnoverTTM            9.96758
netIncomeEmployeeAnnual     16052.58000
netIncomeEmployeeTTM        13378.45000
receivablesTurnoverAnnual      15.07494
receivablesTurnoverTTM         17.86176
revenueEmployeeAnnual      388131.40000
revenueEmployeeTTM         371269.40000
roaRfy                          5.98202
roaa5Y                          4.61216
roae5Y                         19.03761
roaeTTM                        18.58166
roeRfy                         21.94510
roeTTM                          5.34682
roi5Y                           8.38666
roiAnnual                      10.01498
roiTTM                          8.34278

In [43]:
hub.all_metrics('AMZN')

                                                AMZN
price    10DayAverageTradingVolume           5.49385
         13WeekPriceReturnDaily              15.2652
         26WeekPriceReturnDaily              30.9333
         3MonthAverageTradingVolume          128.822
         52WeekHigh                             2475
...                                              ...
perShare freeCashFlowPerShareTTM             38.3865
         revenuePerShareAnnual               556.591
         revenuePerShareTTM                  587.261
         tangibleBookValuePerShareAnnual     86.8615
         tangibleBookValuePerShareQuarterly  101.269

[129 rows x 1 columns]

In [44]:
hub.ownership('SAN.MC')

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [3]:
hub.ipos(start='2020-01-01')

NameError: name 'hub' is not defined

In [46]:
hub.recommendation('MMM')

            strongBuy  buy  hold  sell  strongSell
period
2020-05-01          4    1     7     3           0
2020-04-01          0    3    13     2           1
2020-03-01          0    2    14     2           1
2020-02-01          3    3     8     2           2
2020-01-01          3    3     8     2           2
2019-12-01          3    3     8     2           2
2019-11-01          3    3     8     2           2
2019-10-01          3    3     8     2           2
2019-09-01          3    3     8     2           2
2019-08-01          3    3     8     2           2
2019-07-01          3    3     8     2           2
2019-06-01          3    3     8     2           2
2019-05-01          3    3     8     2           2
2019-04-01          3    3     8     2           2
2019-03-01          3    3     8     2           2
2019-02-01          3    3     7     2           2
2019-01-01          3    3     8     2           2

In [47]:
hub.price_target(['AMZN','MSFT','GOOGL'])

                             AMZN                GOOGL                 MSFT
lastUpdated   2020-05-14 00:00:00  2020-05-14 00:00:00  2020-05-14 00:00:00
symbol                       AMZN                GOOGL                 MSFT
targetHigh                   3000                 1800                  220
targetLow                    1850                 1270                  133
targetMean                2645.67              1515.73               193.94
targetMedian                 2700                 1500                  200

In [48]:
hub.upgrade_downgrade(['NFLX','DIS'])

    action                   company                             fromGrade  \
       DIS  NFLX                 DIS                        NFLX       DIS
0     main  main         RBC Capital  SunTrust Robinson Humphrey
1     main  main           JP Morgan              Morgan Stanley
2     main  main         BMO Capital            Imperial Capital
3     main    up           Bernstein                 Wells Fargo
4     down  main  LightShed Partners                     Wedbush   Neutral
..     ...   ...                 ...                         ...       ...
451    NaN  down                 NaN                    B. Riley       NaN
452    NaN  main                 NaN                Bank oferica       NaN
453    NaN  main                 NaN               Goldman Sachs       NaN
454    NaN  main                 NaN                   Dougherty       NaN
455    NaN  main                 NaN           Canaccord Genuity       NaN

                  gradeTime            symbol               toGrade  \
            NFLX        DIS       NFLX    DIS  NFLX             DIS
0                2020-05-06 2020-04-23    DIS  NFLX  Sector Perform
1                2020-05-06 2020-04-23    DIS  NFLX      Overweight
2                2020-05-06 2020-04-23    DIS  NFLX      Outperform
3    Underweight 2020-05-06 2020-04-22    DIS  NFLX  Market Perform
4                2020-05-05 2020-04-22    DIS  NFLX            Sell
..           ...        ...        ...    ...   ...             ...
451                     NaT 2012-07-25    NaN  NFLX             NaN
452                     NaT 2012-05-31    NaN  NFLX             NaN
453                     NaT 2012-04-24    NaN  NFLX             NaN
454                     NaT 2012-04-24    NaN  NFLX             NaN
455                     NaT 2012-04-24    NaN  NFLX             NaN


             NFLX
0             Buy
1      Overweight
2      Outperform
3    Equal-Weight
4    Underperform
..            ...
451          Sell
452  Underperform
453       Neutral
454       Neutral
455          Sell

[456 rows x 12 columns]

In [49]:
hub.economic_code()

                   code   country                      name              unit
0         MA-ABW-667984     Aruba          Balance Of Trade       AFI Million
1         MA-ABW-678073     Aruba  Consumer Price Index Cpi   points 2019=100
2       MA-ABW-67807367     Aruba            Inflation Rate  percent 2006=100
3         MA-ABW-678482     Aruba        Corporate Tax Rate           percent
4     MA-ABW-6988867976     Aruba                   Exports       AFI Million
...                 ...       ...                       ...               ...
8240    MA-ZWE-80738482  Zimbabwe  Personal Income Tax Rate           percent
8241      MA-ZWE-807980  Zimbabwe                Population           million
8242      MA-ZWE-838482  Zimbabwe           Sales Tax Rate            percent
8243    MA-ZWE-84798582  Zimbabwe          Tourist Arrivals
8244      MA-ZWE-857882  Zimbabwe         Unemployment Rate           percent

[8245 rows x 4 columns]

In [50]:
hub.economic('MA-ABW-67807367')

Not possible parse dates of date

            value
date
2020-01-31   5.50
2019-12-31   5.20
2019-11-30   4.80
2019-10-31   5.00
2019-09-30   4.40
...           ...
2000-05-31   4.32
2000-04-30   4.35
2000-03-31   4.30
2000-02-29   3.80
2000-01-31   3.71

[241 rows x 1 columns]

In [51]:
hub.economic_calendar()

,actual,comment,country,currency,date,forecast,id,importance,indicator,link,period,previous,scale,source,title,unit
0,None,Electronic Card Transaction (ECT) is a monthly...,NZ,NZD,2020-05-10 22:45:00+00:00,NaN,12996637 2020-05-10 22:45:00 +0000 UTC NZD New...,-1,Elec Card Retail Sale MM,,Apr. 2020,-3.900000e+00,,Stats NZ,New Zealand-ECARD-Elec Card Retail Sale MM,%
1,None,Electronic Card Transaction (ECT) is a monthly...,NZ,NZD,2020-05-10 22:45:00+00:00,NaN,12996637 2020-05-10 22:45:00 +0000 UTC NZD New...,-1,Elec Card Retail Sale YY,,Apr. 2020,-1.800000e+00,,Stats NZ,New Zealand-ECARD-Elec Card Retail Sale YY,%
2,None,"Percentage of respondents who say they find ""J...",US,USD,2020-05-11 14:00:00+00:00,NaN,12984259 2020-05-11 14:00:00 +0000 UTC USD Uni...,-1,Employment Trends*,,Apr. 2020,6.039000e+01,,Conf Board,United States-Employment/unemployment-Employme...,Index
3,None,,US,USD,2020-05-11 15:00:00+00:00,NaN,13069866 2020-05-11 15:00:00 +0000 UTC USD Uni...,-1,Exp Soybean Inspected,,"w/o May. 4, 2020",3.181000e+02,K,Agricul Dept,United States-exinspect-Exp Soybean Inspected,Tonne
4,None,,US,USD,2020-05-11 15:00:00+00:00,NaN,13069866 2020-05-11 15:00:00 +0000 UTC USD Uni...,-1,Export Corn Inspected,,"w/o May. 4, 2020",1.217218e+03,K,Agricul Dept,United States-exinspect-Export Corn Inspected,Tonne
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,None,,JP,JPY,2020-05-13 23:50:00+00:00,NaN,12749615 2020-05-13 23:50:00 +0000 UTC JPY Jap...,0,M2 Money Supply,,Apr. 2020,1.051983e+07,h. M,,Japan-Money Supply-M2 Money Supply,JPY
123,None,"Securities investment, contract basis. Securit...",JP,JPY,2020-05-13 23:50:00+00:00,NaN,13060377 2020-05-13 23:50:00 +0000 UTC JPY Jap...,-1,Foreign Bond Investment,,"w/o May. 4, 2020",NaN,B,MOF,Japan-Capital flows data-Foreign Bond Investment,JPY
124,None,,JP,JPY,2020-05-13 23:50:00+00:00,NaN,13060377 2020-05-13 23:50:00 +0000 UTC JPY Jap...,0,Foreign Invest JP Bonds,,"w/o May. 4, 2020",NaN,B,,Japan-Capital flows data-Foreign Invest JP Bonds,JPY
125,None,Balance of payments is a set of accounts recor...,JP,JPY,2020-05-13 23:50:00+00:00,NaN,13060377 2020-05-13 23:50:00 +0000 UTC JPY Jap...,0,Foreign Invest JP Stock,,"w/o May. 4, 2020",NaN,B,MOF,Japan-Capital flows data-Foreign Invest JP Stock,JPY
126,None,,JP,JPY,2020-05-13 23:50:00+00:00,NaN,13060377 2020-05-13 23:50:00 +0000 UTC JPY Jap...,0,Foreign Stock Investment,,"w/o May. 4, 2020",NaN,B,,Japan-Capital flows data-Foreign Stock Investment,JPY

In [6]:
hub.indicator_info('macd')

AttributeError: 'Session' object has no attribute 'ind_info'

In [54]:
import fhub

In [55]:
fhub.__version__

'0.0.2'