In [2]:
from fhub import Session

hub = Session(your_finnhub_api_key_here)

In [3]:
# Download prices time serie of Tesla.
tsla = hub.candle('TSLA')

In [4]:
# Download prices for several tickers from a date.
hub.candle(['AMZN', 'NFLX', 'DIS'], start="2018-01-01")

                         close                         high                    \
                          AMZN       DIS    NFLX       AMZN       DIS    NFLX
datetime
2018-01-02 14:30:00  1189.0100  108.7261  201.07  1190.0000  108.7361  201.65
2018-01-03 14:30:00  1204.2000  109.1929  205.05  1205.4900  110.1029  206.21
2018-01-04 14:30:00  1209.5900  109.1442  205.63  1215.8700  109.9142  207.05
2018-01-05 14:30:00  1229.1400  108.5510  209.99  1229.1400  109.6110  210.02
2018-01-08 14:30:00  1246.8700  106.9950  212.05  1253.0800  108.2550  212.50
...                        ...       ...     ...        ...       ...     ...
2020-04-22 13:30:00  2363.4900  100.9900  421.42  2394.0000  102.6300  433.00
2020-04-23 13:30:00  2399.4500  101.0000  426.70  2424.2200  102.5300  438.41
2020-04-24 13:30:00  2410.2200  101.1900  424.99  2420.4299  101.9200  427.17
2020-04-27 13:30:00  2376.0000  106.0600  421.38  2444.8799  106.5200  429.00
2020-04-28 13:30:00  2314.0801  106.2100  403.83  2373.5000  110.0600  421.00

                           low                         open                    \
                          AMZN       DIS    NFLX       AMZN       DIS    NFLX
datetime
2018-01-02 14:30:00  1170.5100  105.4861  195.42  1172.0000  105.8761  196.10
2018-01-03 14:30:00  1188.3000  108.3629  201.50  1188.3000  109.1029  202.05
2018-01-04 14:30:00  1204.6600  108.5442  204.00  1205.0000  109.8642  206.20
2018-01-05 14:30:00  1210.0000  108.1710  205.59  1217.5100  109.6110  207.25
2018-01-08 14:30:00  1232.0300  106.5150  208.44  1236.0000  107.8650  210.02
...                        ...       ...     ...        ...       ...     ...
2020-04-22 13:30:00  2351.0000  100.8900  413.00  2369.0000  101.8000  429.73
2020-04-23 13:30:00  2382.0801   99.4600  419.26  2399.9800  100.6500  419.26
2020-04-24 13:30:00  2382.0000   99.5200  415.88  2417.0000  101.7800  425.00
2020-04-27 13:30:00  2363.0000  101.6100  420.84  2443.2000  102.0000  425.00
2020-04-28 13:30:00  2306.0000  105.9800  402.91  2372.1001  108.7900  419.99

                      volume
                        AMZN       DIS      NFLX
datetime
2018-01-02 14:30:00  2694500  11014300  10966900
2018-01-03 14:30:00  3108800   9237900   8591400
2018-01-04 14:30:00  3022100   7417400   6029600
2018-01-05 14:30:00  3544700   6008300   7033200
2018-01-08 14:30:00  4279500   8052600   5580200
...                      ...       ...       ...
2020-04-22 13:30:00  4218300  11492000  21123800
2020-04-23 13:30:00  5066600  17132200  13952300
2020-04-24 13:30:00  3831800  13621100   8670400
2020-04-27 13:30:00  5645600  15518300   6277500
2020-04-28 13:30:00  5252600  16494300  10085200

[584 rows x 15 columns]

In [5]:
hub.exchanges('forex')

         forex
0        oanda
1         fxcm
2    forex.com
3   ic markets
4        fxpro
5       octafx
6        fxpig
7  pepperstone
8    icmtrader

In [6]:
hub.symbols('ic markets', kind='forex')

,description,displaySymbol,symbol
0,IC MARKETS Silver vs Euro XAGEUR,XAG/EUR,IC MARKETS:44
1,IC MARKETS Silver vs US Dollar XAGUSD,XAG/USD,IC MARKETS:42
2,IC MARKETS Gold vs Euro XAUEUR,XAU/EUR,IC MARKETS:43
3,IC MARKETS Gold vs US Dollar XAUUSD,XAU/USD,IC MARKETS:41
4,IC MARKETS Euro vs US Dollar EURUSD,EUR/USD,IC MARKETS:1
...,...,...,...
77,IC MARKETS Brent Crude Oil XBRUSD,XBR/USD,IC MARKETS:10018
78,IC MARKETS WTI Light Crude Oil XTIUSD,XTI/USD,IC MARKETS:10019
79,IC MARKETS Euro vs US Dollar EURUSDt,EUR10023/USD,IC MARKETS:10023
80,IC MARKETS Bitcoin BTCUSD,BTC/USD,IC MARKETS:10026
81,IC MARKETS Great Britain Pound vs Turkish Lira...,GBP/TRY,IC MARKETS:10031

In [7]:
hub.quote('OANDA:XAU_NZD')

                      OANDA:XAU_NZD
close                        2792.4
high                        2815.21
low                         2770.59
open                        2814.56
previous_close              2817.85
datetime        2020-04-28 21:00:00

In [8]:
hub.candle('IC MARKETS:44', kind='forex')

                       close    high     low    open  volume
datetime
2019-04-28 21:00:00  13.3120  13.513  13.310  13.513   20862
2019-04-29 21:00:00  13.3120  13.382  13.204  13.330   27630
2019-04-30 21:00:00  13.0960  13.329  13.029  13.320   25777
2019-05-01 21:00:00  13.0810  13.129  13.019  13.088   26770
2019-05-02 21:00:00  13.3020  13.370  13.055  13.078   27896
...                      ...     ...     ...     ...     ...
2020-04-22 21:00:00  14.1350  14.285  13.829  13.905   56456
2020-04-23 21:00:00  14.0600  14.250  13.919  14.128   48086
2020-04-26 21:00:00  14.0330  14.154  13.858  13.969   40331
2020-04-27 21:00:00  14.0050  14.046  13.770  14.005   43565
2020-04-28 21:00:00  14.1095  14.140  13.899  14.026   42491

[260 rows x 5 columns]

In [9]:
hub.covid19()

                        state    case  death             updated
0                    New York  305334  23384 2020-04-29 15:39:57
1                  New Jersey  116365   6771 2020-04-29 15:39:57
2                  California   46507   1875 2020-04-29 15:39:57
3                    Michigan   40412   3673 2020-04-29 15:39:57
4                     Florida   33193   1218 2020-04-29 15:39:57
..                        ...     ...    ...                 ...
57              Wuhan Evacuee       4      0 2020-04-29 15:39:57
58   Northern Mariana Islands      14      2 2020-04-29 15:39:57
59                US Military    6213     26 2020-04-29 15:39:57
60  Federal Bureau of Prisons    1649     30 2020-04-29 15:39:57
61             Veteran Affair    7903    482 2020-04-29 15:39:57

[62 rows x 4 columns]

In [10]:
hub.executive('AAPL')

,age,compensation,currency,name,position,sex,since,symbol
0,69.0,557922.0,USD,Dr. Arthur Levinson,Independent Chairman of the Board,male,2011,AAPL
1,59.0,11555466.0,USD,Mr. Timothy Cook,"Chief Executive Officer, Director",male,2011,AAPL
2,56.0,25209637.0,USD,Mr. Luca Maestri,"Chief Financial Officer, Senior Vice President",male,2014,AAPL
3,56.0,25207919.0,USD,Mr. Jeffrey Williams,Chief Operating Officer,male,2018,AAPL
4,55.0,25231800.0,USD,Ms. Katherine Adams,"Senior Vice President, General Counsel, Secretary",female,2017,AAPL
5,58.0,11677211.0,USD,Mr. Philip Schiller,Senior Vice President - Worldwide Marketing,male,2002,AAPL
6,56.0,22807544.0,USD,Mr. Eddy Cue,Senior Vice President - Internet Software and ...,male,2011,AAPL
7,48.0,NaN,,Mr. Craig Federighi,Senior Vice President - Software Engineering,male,2012,AAPL
8,NaN,NaN,,Mr. John Giannandrea,Senior Vice President - Machine Learning and A...,male,2018,AAPL
9,53.0,19159780.0,USD,Ms. Deirdre O'Brien,Senior Vice President - Retail + People,female,2019,AAPL
10,55.0,24146046.0,USD,Mr. Daniel Riccio,Senior Vice President - Hardware Engineering,male,2012,AAPL
11,54.0,24162392.0,USD,Mr. Johny Srouji,Senior Vice President - Hardware Technologies,male,2015,AAPL
12,71.0,355837.0,USD,Mr. James Bell,Independent Director,male,2015,AAPL
13,71.0,360264.0,USD,Mr. Albert Gore,Independent Director,male,2003,AAPL
14,61.0,385388.0,USD,Ms. Andrea Jung,Independent Director,female,2008,AAPL
15,71.0,400878.0,USD,Dr. Ronald Sugar,Independent Director,male,2010,AAPL
16,57.0,354923.0,USD,Ms. Sue Wagner,Independent Director,female,2014,AAPL
17,67.0,398988.0,USD,Mr. Robert Iger,Independent Director,male,2011,AAPL
18,59.0,22278242.0,USD,Ms. Angela Ahrendts,Senior Vice President - Retail,female,2014,AAPL
19,NaN,NaN,,Mr. Jonathan Ive,Chief Design Officer,male,None,AAPL
20,58.0,24146046.0,USD,Mr. Durward Sewell,"Senior Vice President, General Counsel, Secretary",male,2009,AAPL
21,NaN,NaN,,Ms. Nancy Paxton,IR Contact Officer,female,2016,AAPL
22,72.0,25622.0,USD,Mr. Millard Drexler,Independent Director,male,1999,AAPL
23,56.0,4517720.0,USD,Mr. Peter Oppenheimer,Senior Vice President,male,2014,AAPL
24,74.0,NaN,,Mr. William Campbell,Independent Director,male,1997,AAPL
25,NaN,85540637.0,USD,Mr. Robert Mansfield,Senior Vice President - Technologies,male,2013,AAPL
26,54.0,NaN,,Mr. John Browett,Senior Vice President - Retail,male,2012,AAPL
27,43.0,1416527.0,USD,Mr. Scott Forstall,Senior Vice President - iPhone Software Engine...,male,2008,AAPL
28,54.0,1416143.0,USD,Mr. Ronald Johnson,Senior Vice President - Retail,male,2000,AAPL
29,60.0,1.0,USD,Mr. Steven Jobs,Chairman of the Board,male,2011,AAPL
30,NaN,NaN,,Bertrand Serlet,Senior Vice President - Software Engineering,male,2003,AAPL
31,57.0,NaN,,Mr. Mark Papermaster,Senior Vice President - iPhone Engineering,male,None,AAPL
32,80.0,NaN,,Mr. Jerome York,Director,male,1997,AAPL
33,68.0,NaN,,Mr. Daniel Cooperman,"Senior Vice President, General Counsel, Secretary",male,2007,AAPL
34,64.0,NaN,,Dr. Eric Schmidt,Director,male,2006,AAPL
35,56.0,NaN,,Sina Tamaddon,Senior Vice President - Applications,male,2000,AAPL
36,44.0,NaN,,Anthony Fadell,Senior Vice President - iPod Division,male,None,AAPL
37,68.0,NaN,,Mr. Donald Rosenberg,"Senior Vice President, General Counsel, Secretary",male,2006,AAPL
38,74.0,668081.0,USD,Mr. Frederick Anderson,Director,male,2004,AAPL
39,60.0,NaN,,Ms. Nancy Heinen,"Senior Vice President, General Counsel and Sec...",female,1997,AAPL
40,62.0,1116634.0,USD,Mr. Jonathan Rubinstein,"Senior Vice President, iPod Division",male,1997,AAPL
41,58.0,5583019.0,USD,Dr. Avadis Tevanian,"Senior Vice President, Chief Software Technolo...",male,2003,AAPL
42,75.0,NaN,,Mr. Lawrence Ellison,Director,male,1997,AAPL
43,73.0,NaN,,Mr. Gareth Chang,Director,male,1996,AAPL
44,56.0,410141.0,USD,Mitchell Mandich,"Senior Vice President, Worldwide Sales",male,None,AAPL
45,84.0,NaN,,Mr. Edgar Woolard,Director,male,1996,AAPL

In [11]:
hub.news()

,category,datetime,headline,id,image,related,source,summary,url
0,top news,1588187553,"Shares jump on coronavirus drug hopes, oil surges",3669068,https://s2.reutersmedia.net/resources/r/?m=02&...,,Reuters,World stock markets surged on Wednesday follow...,https://www.reuters.com/article/us-global-mark...
1,business,1588187422,Hertz in talks with creditors to avoid debt de...,3669060,https://s3.reutersmedia.net/resources/r/?m=02&...,,Reuters,Hertz Global Holdings Inc said on Wednesday i...,https://www.reuters.com/article/us-hertzglo-hl...
2,top news,1588187235,"Juul plans to cut a third of its workforce, re...",3669074,https://image.cnbcfm.com/api/v1/image/10617230...,,CNBC,Juul Labs is planning to cut around a third of...,https://www.cnbc.com/2020/04/29/juul-plans-to-...
3,business,1588187231,Amazon is Wall Street's biggest winner from co...,3669061,https://s2.reutersmedia.net/resources/r/?m=02&...,,Reuters,No company's stock market value has benefited ...,https://www.reuters.com/article/us-amazon-stoc...
4,company news,1588186969,Hertz in talks with creditors to avoid debt de...,3669062,,,Reuters,Hertz Global Holdings Inc said\non Wednesday i...,http://feeds.reuters.com/~r/reuters/companyNew...
5,finance,1588186857,Powell says the economy will likely need more ...,3668424,https://image.cnbcfm.com/api/v1/image/10642239...,,CNBC,Federal Reserve chairman Jerome Powell said mo...,https://www.cnbc.com/2020/04/29/powell-says-th...
6,company news,1588186548,"UPDATE 1-MetaBank, Fiserv win contracts to iss...",3669063,https://s4.reutersmedia.net/resources_v2/image...,,Reuters,MetaBank and\nFiserv won U.S. Treasury contrac...,https://www.reuters.com/article/us-health-coro...
7,company news,1588185819,"Cargill saw Brazil trading, processing volumes...",3668419,https://s4.reutersmedia.net/resources_v2/image...,,Reuters,The volume of agricultural\ncommodities origin...,https://www.reuters.com/article/us-brazil-carg...
8,company news,1588185471,"UPDATE 6-Boeing to shrink workforce, raise cas...",3667067,https://s4.reutersmedia.net/resources/r/?m=02&...,,Reuters,Boeing Co said on Wednesday it\nwould cut its ...,https://www.reuters.com/article/us-boeing-resu...
9,top news,1588185386,Italy pledged aid to 2.3 million workers. Just...,3667074,https://s3.reutersmedia.net/resources/r/?m=02&...,,Reuters,Looking to save lives and stop the coronavirus...,https://www.reuters.com/article/us-health-coro...
10,company news,1588185284,UPDATE 1-Big U.S. banks to be temporarily lock...,3667072,https://s4.reutersmedia.net/resources_v2/image...,,Reuters,The Small Business\nAdministration on Wednesda...,https://www.reuters.com/article/us-health-coro...
11,top news,1588185092,"Fed keeps rates steady, vows to maintain coron...",3667068,https://s4.reutersmedia.net/resources_v2/image...,,Reuters,Federal Reserve policymakers on Wednesday left...,https://www.reuters.com/article/us-usa-fed-ins...
12,top news,1588185092,"Fed leaves rates near zero, sees virus risks l...",3667069,https://s4.reutersmedia.net/resources/r/?m=02&...,,Reuters,The Federal Reserve on Wednesday left interest...,https://www.reuters.com/article/us-health-coro...
13,company news,1588184873,Mattel coronavirus action figures include nurs...,3669154,https://cnet4.cbsistatic.com/img/2QQlYjFkvOGWJ...,",MAT,",CNET,Money from the new toy line will go to an init...,https://www.cnet.com/news/mattel-coronavirus-a...
14,top news,1588184866,Watch Federal Reserve Chairman Jerome Powell's...,3666304,https://image.cnbcfm.com/api/v1/image/10601203...,,CNBC,,https://www.cnbc.com/2020/04/29/watch-federal-...
15,top news,1588184823,U.S. stocks rally on coronavirus drug hopes,3667070,https://s4.reutersmedia.net/resources/r/?m=02&...,,Reuters,Wall Street stock indexes surged on Wednesday ...,https://www.reuters.com/article/us-usa-stocks/...
16,company news,1588184672,"MetaBank, Fiserv win U.S. Treasury contract to...",3669064,https://s4.reutersmedia.net/resources_v2/image...,,Reuters,"MetaBank, Fiserv\nwin U.S. Treasury contract t...",https://www.reuters.com/article/health-coronav...
17,company news,1588184672,"MetaBank, Fiserv win U.S. Treasury contract to...",3667073,https://s4.reutersmedia.net/resources_v2/image...,,Reuters,"MetaBank, Fiserv\nwin U.S. Treasury contract t...",https://www.reuters.com/article/us-health-coro...
18,business,1588184671,Volkswagen indefinitely delays restarting U.S....,3667071,https://s2.reutersmedia.net/resources/r/?m=02&...,,Reuters,Volkswagen AG said Wednesday it is indefinite...,https://www.reuters.com/article/us-health-coro...
19,top news,1588184340,FDA may announce emergency use of Gilead's cor...,3666297,https://s4.reutersmedia.net/resources_v2/image...,,Reuters,U.S. drug regulators may announce their decisi...,https://www.reuters.com/article/us-health-coro...

In [12]:
hub.company_news('NFLX')

,category,datetime,headline,id,image,related,source,summary,url
0,company news,1588181387,"We'll be ready for Christmas, says Hasbro, as ...",3669155,https://s.yimg.com/uu/api/res/1.2/wuwpKKwX9hCp...,"HAS,MAT,NFLX",YAHOO,"""We expect to catch up on production over the ...",https://finnhub.io/api/news?id=3669155
1,company news,1588180169,One sector could benefit from this market rota...,3662782,https://image.cnbcfm.com/api/v1/image/10417196...,"AMZN,ATVI,DD,DD,DD,DOCU,NFLX,SHW,TDOC,XLB,ZM",CNBC,The U.S. economy contracted in the first quart...,https://finnhub.io/api/news?id=3662782
2,company news,1588170647,The Office: 10 Ways Jim Got Worse & Worse | Sc...,3656761,https://static3.srcdn.com/wordpress/wp-content...,"NFLX,SABR",SCREENRANT,"Jim was often seen as the ""normal"" person on T...",https://finnhub.io/api/news?id=3656761
3,company news,1588166101,Late Selloff Puts an End to Dowâ€™s Winning Streak,3661510,https://s.yimg.com/cv/apiv2/social/images/yaho...,"AMZN,APPS,ATE,BURL,CNC,CODI,CTXS,ENPH,GDS,HTHT...",YAHOO,Late Selloff Puts an End to Dowâ€™s Winning Streak,https://finnhub.io/api/news?id=3661510
4,company news,1588163479,Roku Presents a Coronavirus Conundrum,3652208,https://investorplace.com/wp-content/uploads/2...,"AMZN,COWN,COWNL,FB,GOOGL,NFLX,ROKU",INVESTORPLACE,While the streaming equipment provider has ben...,https://finnhub.io/api/news?id=3652208
5,company news,1588162638,Book review Author Steven Levy goes beyond bi...,3664172,https://static-news.moneycontrol.com/static-mc...,"MSFT,NFLX,NYT,ORCL",MONEYCONTROL,"'In Facebook: The Inside Story', Levy turns hi...",https://finnhub.io/api/news?id=3664172
6,company news,1588161450,"Buy Roku or Snap, but Avoid FB Stock Before an...",3652209,https://investorplace.com/wp-content/uploads/2...,"AMZN,ATVI,DPZ,EBAY,FB,GOOG,GOOGL,NFLX,ROKU,SNA...",INVESTORPLACE,A rule change by Google and high IT security s...,https://finnhub.io/api/news?id=3652209
7,company news,1588156800,Ryan Oâ€™Connell details 'true struggle' of gett...,3650150,https://o.aolcdn.com/images/dims3/GLOB/crop/19...,"JWN,NFLX",AOL,'Special' is based on the life of creator Ryan...,https://finnhub.io/api/news?id=3650150
8,company news,1588156200,Snap's Crackling Earnings And TheAdvertising S...,3643758,https://static.seekingalpha.com/uploads/2020/4...,"AAPL,AMZN,BKNG,DIS,FB,GOOG,GOOGL,NFLX,OMC,PINS...",SEEKINGALPHA,Snap was first to report earnings in the onlin...,https://finnhub.io/api/news?id=3643758
9,company news,1588154803,Hudson Pacific Properties Inc (NYSE:HPP) to Po...,3658096,https://www.marketbeat.com/logos/hudson-pacifi...,"C,GOOG,GOOGL,HPP,JEF,LTS,LTSK,MFG,NFLX",THELINCOLNIANONLINE,Hudson Pacific Properties Inc (NYSE:HPP) â€“ Equ...,https://finnhub.io/api/news?id=3658096
10,company news,1588154400,Hasbro Reports First Quarter 2020 Financial Re...,3636790,https://s.yimg.com/uu/api/res/1.2/KWaNCbA4gEe4...,"DGLY,DIS,HAS,NFLX",YAHOO,Hasbro Reports First Quarter 2020 Financial Re...,https://finnhub.io/api/news?id=3636790
11,company news,1588141837,"Asian stocks gain after France, Spain unveil r...",3648889,https://s.hdnux.com/photos/01/11/64/51/1935215...,"AMZN,CLX,HOG,KIM,NFLX",HOUSTONCHRONICLE,BEIJING (AP) â€” Asian stock markets gained Wedn...,https://finnhub.io/api/news?id=3648889
12,company news,1588141834,"Asian stocks gain after France, Spain unveil r...",3622451,https://s.yimg.com/uu/api/res/1.2/gV99xnIkwgfL...,"AMZN,CLX,HOG,KIM,NFLX",YAHOO,BEIJING (AP) â€” Asian stock markets gained Wedn...,https://finnhub.io/api/news?id=3622451
13,company news,1588132199,Pope urges virus lockdown obedience amid churc...,3606348,https://media1.s-nbcnews.com/j/newscms/2020_18...,"NATH,NFLX",NBCNEWS,Here are the latest coronavirus updates from a...,https://finnhub.io/api/news?id=3606348
14,company news,1588131372,NYPD breaks up massive crowd gathered for rabb...,3606349,https://media1.s-nbcnews.com/j/newscms/2020_18...,"NATH,NFLX,OPEN",NBCNEWS,Here are the latest coronavirus updates from a...,https://finnhub.io/api/news?id=3606349
15,company news,1588129033,What it's like to fly during a pandemic,3606350,https://media1.s-nbcnews.com/j/newscms/2020_18...,"NATH,NFLX,OPEN",NBCNEWS,Here are the latest coronavirus updates from a...,https://finnhub.io/api/news?id=3606350
16,company news,1588127876,10 of the Best Long-Term Stocks to Buy in This...,3603691,https://investorplace.com/wp-content/uploads/2...,"AAPL,AMZN,BYND,BYND,CHGG,FB,NFLX,NKE,OKTA,PINS...",INVESTORPLACE,"Although coronavirus concerns are very real, t...",https://finnhub.io/api/news?id=3603691
17,company news,1588127866,Federal inmate who gave birth while on ventila...,3606351,https://media1.s-nbcnews.com/j/newscms/2020_18...,"NATH,NFLX,OPEN",NBCNEWS,Here are the latest coronavirus updates from a...,https://finnhub.io/api/news?id=3606351
18,company news,1588127740,U.S. Index Futures Jump as Asia Stocks in Bull...,3603774,,"AMZN,FB,GOOGL,NFLX",BLOOMBERG,,https://finnhub.io/api/news?id=3603774
19,company news,1588127343,Los Angeles to purchase 24 million N95 masks,3606352,https://media1.s-nbcnews.com/j/newscms/2020_18...,"NATH,NFLX,OPEN",NBCNEWS,Here are the latest coronavirus updates from a...,https://finnhub.io/api/news?id=3606352

In [13]:
hub.major_development('DIS', start='2019-01-01')

,symbol,datetime,headline,description
0,DIS,2020-04-23 13:34:27,S&P Says Disney Ratings Lowered To 'A-' Amid C...,S&P SAYS DISNEY RATINGS LOWERED TO 'A-' AMID C...
1,DIS,2020-04-13 21:32:22,Walt Disney Co Enters 364-Day Credit Agreement...,"WALT DISNEY CO - ON APRIL 10, 2020, ENTERED I..."
2,DIS,2020-04-12 20:41:09,"Disney World Furloughing 43,000 Workers - New ...",":DISNEY WORLD FURLOUGHING 43,000 WORKERS"
3,DIS,2020-04-08 22:49:02,Disney+ Paid Subscriber Count Surpasses 50 Mln...,DISNEY+ PAID SUBSCRIBER COUNT SURPASSES 50 MIL...
4,DIS,2020-04-02 22:22:08,Walt Disney's Furlough Process Will Begin On A...,STATEMENT FROM THE WALT DISNEY COMPANY REGARDI...
5,DIS,2020-03-30 22:38:29,Walt Disney Sees Reductions In Base Salary Amo...,WALT DISNEY CO - EFFECTING REDUCTIONS IN BASE ...
6,DIS,2020-03-27 19:53:12,Disney Says Disneyland Resort And Walt Disney ...,:WALT DISNEY CO SAYS DISNEYLAND RESORT AND WAL...
7,DIS,2020-03-23 14:05:59,"Walt Disney Co Says On March 19, 2020, Entered...","WALT DISNEY CO SAYS ON MARCH 19, 2020, ENTERED..."
8,DIS,2020-03-19 18:00:49,Walt Disney Files Preliminary Prospectus Suppl...,WALT DISNEY FILES PRELIMINARY PROSPECTUS SUPPL...
9,DIS,2020-03-17 22:23:37,Walt Disney Co Says Shareholders Approved Amen...,"WALT DISNEY CO - ON MARCH 11, SHAREHOLDERS APP..."
10,DIS,2020-03-13 00:36:10,"Disney Closure Of Theme Parks In Florida, Disn...",:THEME PARKS AT WALT DISNEY WORLD RESORT IN FL...
11,DIS,2020-03-12 22:32:41,S&P Revises Walt Disney's Outlook To Negative ...,S&P :S&P SAYS THE WALT DISNEY CO. OUTLOOK REVI...
12,DIS,2020-03-11 21:54:48,Walt Disney Says Entered Into New $5.25 Billio...,"WALT DISNEY - ON MARCH 6, CO ENTERED INTO NEW ..."
13,DIS,2020-02-25 21:34:47,Disney Says Bob Chapek To Succeed CEO Robert Iger,BOB CHAPEK NAMED CHIEF EXECUTIVE OFFICER OF TH...
14,DIS,2020-02-21 12:48:02,Hasbro And Disney Extend Strategic Merchandisi...,HASBRO AND DISNEY EXTEND STRATEGIC MERCHANDISI...
15,DIS,2020-02-04 22:48:12,Disney Says Shanghai And Hong Kong Parks Closu...,WALT DISNEY - RECENT CLOSURE OF PARKS IN SHAN...
16,DIS,2020-02-04 22:48:08,Disney- Disney+ Subscribers 28.6 Mln As Of Feb. 3,DISNEY-DISNEY+ SUBSCRIBER 28.6 MILLION AS OF F...
17,DIS,2020-02-04 22:16:27,The Walt Disney Company Reports Q1 Earnings Pe...,THE WALT DISNEY COMPANY REPORTS FIRST QUARTER ...
18,DIS,2020-01-31 22:25:52,Hulu CEO Randy Freer To Step Down As Disney Me...,:HULU CEO RANDY FREER TO STEP DOWN AS DISNEY M...
19,DIS,2020-01-29 18:46:14,Airbnb Says Walt Disney's Veteran Catherine Po...,Airbnb

In [14]:
hub.available_metrics

['price',
 'valuation',
 'growth',
 'margin',
 'management',
 'financialStrength',
 'perShare']

In [15]:
hub.metrics('AMZN', 'management')

                                   AMZN
assetTurnoverAnnual             1.44638
assetTurnoverTTM                1.44637
inventoryTurnoverAnnual         8.78851
inventoryTurnoverTTM            8.78851
netIncomeEmployeeAnnual     16052.58000
netIncomeEmployeeTTM        14538.85000
receivablesTurnoverAnnual      15.07494
receivablesTurnoverTTM         15.07489
revenueEmployeeAnnual      388131.40000
revenueEmployeeTTM         351530.10000
roaRfy                          5.98202
roaa5Y                          4.61216
roae5Y                         19.03761
roaeTTM                        21.94510
roeRfy                         21.94510
roeTTM                          5.98202
roi5Y                           8.38666
roiAnnual                      10.01498
roiTTM                         10.01498

In [16]:
hub.all_metrics('AMZN')

                                                AMZN
price    10DayAverageTradingVolume           6.80027
         13WeekPriceReturnDaily              29.4676
         26WeekPriceReturnDaily              36.8409
         3MonthAverageTradingVolume          128.775
         52WeekHigh                             2461
...                                              ...
perShare freeCashFlowPerShareTTM              43.005
         revenuePerShareAnnual               556.591
         revenuePerShareTTM                  557.142
         tangibleBookValuePerShareAnnual     86.8615
         tangibleBookValuePerShareQuarterly   94.992

[129 rows x 1 columns]

In [18]:
hub.ownership('SAN.MC')

,name,share,turnover,turnoverPercent,change,filingDate,symbol,kind,portfolioPercent
0,"BlackRock Institutional Trust Company, N.A.",901191800,LOW,12.1429,56991564,2020-02-10,SAN.MC,INVESTOR,NaN
1,"The Vanguard Group, Inc.",486448420,LOW,6.6903,9147016,2020-02-29,SAN.MC,INVESTOR,NaN
2,Norges Bank Investment Management (NBIM),442704100,LOW,11.6070,15932498,2019-12-31,SAN.MC,INVESTOR,NaN
3,Dodge & Cox,331228450,LOW,15.6716,2533123,2019-12-31,SAN.MC,INVESTOR,NaN
4,Amundi Asset Management,183091220,MED,53.1340,-2493093,2020-02-29,SAN.MC,INVESTOR,NaN
...,...,...,...,...,...,...,...,...,...
995,Tangerine Balanced Portfolio,247475,,0.0000,20348,2019-06-30,SAN.MC,FUND,0.00
996,BNP Paribas A FundÂ European Multi-Asset Income,247240,MED,67.8772,-27196,2020-02-29,SAN.MC,FUND,0.42
997,CPR Euroland Premium - F,246387,HIGH,99.0560,-11909,2020-01-31,SAN.MC,FUND,0.58
998,PPF - Absolute Long Short Europe,246000,,0.0000,171900,2019-06-30,SAN.MC,FUND,0.00
999,Vanguard Euro STOXX 50 UCITS ETF,245532,LOW,40.5069,17797,2020-02-29,SAN.MC,FUND,2.36

In [19]:
hub.ipos(start='2020-01-01')

,exchange,name,numberOfShares,price,status,symbol,totalSharesValue
date,,,,,,,
2020-04-28,NYSE,SOCIAL CAPITAL HEDOSOPHIA HOLDINGS CORP. II,30000000.0,10.00,expected,IPOBU,345000000.0
2020-04-24,None,"FATHER TIME, INC.",NaN,None,withdrawn,None,NaN
2020-04-24,None,"SEQLL, INC.",NaN,None,withdrawn,None,NaN
2020-04-24,NASDAQ Global Select,"ORIC PHARMACEUTICALS, INC.",7500000.0,16.00,priced,ORIC,120000000.0
2020-04-24,NYSE,CC NEUBERGER PRINCIPAL HOLDINGS I,36000000.0,10.00,priced,PCPLU,360000000.0
...,...,...,...,...,...,...,...
2020-01-08,None,"ARDENT HEALTH PARTNERS, LLC",NaN,None,withdrawn,None,NaN
2020-01-06,None,"ARCUTIS BIOTHERAPEUTICS, INC.",NaN,None,filed,ARQT,159375000.0
2020-01-03,None,"BLACK DIAMOND THERAPEUTICS, INC.",NaN,None,filed,BDTX,201140004.0
2020-01-03,None,1LIFE HEALTHCARE INC,NaN,None,filed,ONEM,245000000.0
2020-01-02,None,"AVADIM HEALTH, INC.",NaN,None,filed,AHI,92000000.0

In [21]:
hub.recommendation('MMM')

            strongBuy  buy  hold  sell  strongSell
period
2020-04-01          4    1     7     3           0
2020-03-01          0    3    13     2           1
2020-02-01          0    2    14     2           1
2020-01-01          3    3     8     2           2
2019-12-01          3    3     8     2           2
2019-11-01          3    3     8     2           2
2019-10-01          3    3     8     2           2
2019-09-01          3    3     8     2           2
2019-08-01          3    3     8     2           2
2019-07-01          3    3     8     2           2
2019-06-01          3    3     8     2           2
2019-05-01          3    3     8     2           2
2019-04-01          3    3     8     2           2
2019-03-01          3    3     8     2           2
2019-02-01          3    3     7     2           2
2019-01-01          3    3     8     2           2

In [23]:
hub.price_target(['AMZN','MSFT','GOOGL'])

                             AMZN                GOOGL                 MSFT
lastUpdated   2020-04-28 00:00:00  2020-04-28 00:00:00  2020-04-28 00:00:00
symbol                       AMZN                GOOGL                 MSFT
targetHigh                   2900                 1800                  210
targetLow                    1850                 1250                  133
targetMean                2475.36              1479.32               186.45
targetMedian                 2450                 1420                  190

In [24]:
hub.upgrade_downgrade(['NFLX','DIS'])

    action            company                               fromGrade  \
       DIS  NFLX          DIS                        NFLX         DIS
0     init  main  RBC Capital  SunTrust Robinson Humphrey
1     main  main    Citigroup              Morgan Stanley
2     down  main          UBS            Imperial Capital         Buy
3     down    up  Wells Fargo                 Wells Fargo  Overweight
4     main  main         CFRA                     Wedbush
..     ...   ...          ...                         ...         ...
451    NaN  down          NaN                    B. Riley         NaN
452    NaN  main          NaN                Bank oferica         NaN
453    NaN  main          NaN               Goldman Sachs         NaN
454    NaN  main          NaN                   Dougherty         NaN
455    NaN  main          NaN           Canaccord Genuity         NaN

                  gradeTime            symbol               toGrade  \
            NFLX        DIS       NFLX    DIS  NFLX             DIS
0                2020-04-28 2020-04-23    DIS  NFLX  Sector Perform
1                2020-04-21 2020-04-23    DIS  NFLX             Buy
2                2020-04-20 2020-04-23    DIS  NFLX         Neutral
3    Underweight 2020-04-08 2020-04-22    DIS  NFLX    Equal-Weight
4                2020-04-07 2020-04-22    DIS  NFLX             Buy
..           ...        ...        ...    ...   ...             ...
451                     NaT 2012-07-25    NaN  NFLX             NaN
452                     NaT 2012-05-31    NaN  NFLX             NaN
453                     NaT 2012-04-24    NaN  NFLX             NaN
454                     NaT 2012-04-24    NaN  NFLX             NaN
455                     NaT 2012-04-24    NaN  NFLX             NaN


             NFLX
0             Buy
1      Overweight
2      Outperform
3    Equal-Weight
4    Underperform
..            ...
451          Sell
452  Underperform
453       Neutral
454       Neutral
455          Sell

[456 rows x 12 columns]

In [25]:
hub.economic_code()

                   code   country                      name              unit
0         MA-ABW-667984     Aruba          Balance Of Trade       AFI Million
1         MA-ABW-678073     Aruba  Consumer Price Index Cpi   points 2019=100
2       MA-ABW-67807367     Aruba            Inflation Rate  percent 2006=100
3         MA-ABW-678482     Aruba        Corporate Tax Rate           percent
4     MA-ABW-6988867976     Aruba                   Exports       AFI Million
...                 ...       ...                       ...               ...
8240    MA-ZWE-80738482  Zimbabwe  Personal Income Tax Rate           percent
8241      MA-ZWE-807980  Zimbabwe                Population           million
8242      MA-ZWE-838482  Zimbabwe           Sales Tax Rate            percent
8243    MA-ZWE-84798582  Zimbabwe          Tourist Arrivals
8244      MA-ZWE-857882  Zimbabwe         Unemployment Rate           percent

[8245 rows x 4 columns]

In [28]:
hub.economic('MA-ABW-67807367')

Not possible parse dates of date

            value
date
2020-01-31   5.50
2019-12-31   5.20
2019-11-30   4.80
2019-10-31   5.00
2019-09-30   4.40
...           ...
2000-05-31   4.32
2000-04-30   4.35
2000-03-31   4.30
2000-02-29   3.80
2000-01-31   3.71

[241 rows x 1 columns]

In [29]:
hub.economic_calendar()

,actual,comment,country,currency,date,forecast,id,importance,indicator,link,period,previous,scale,source,title,unit
0,-55.00,The 'balance' is simply the difference between...,GB,GBP,2020-04-28 10:00:00+00:00,-40.0,13089356 2020-04-28 10:00:00 +0000 UTC GBP Uni...,-1,CBI Distributive Trades,,Apr. 2020,-3.00,,CBI,United Kingdom-CBI reported sales-CBI Distribu...,Net balance
1,-64.22,,US,USD,2020-04-28 12:30:00+00:00,NaN,13012613 2020-04-28 12:30:00 +0000 UTC USD Uni...,-1,Adv Goods Trade Balance,,Mar. 2020,-59.89,B,Bur Census,United States-Good Trade balance (Adv)-Adv Goo...,USD
2,-1.30,,US,USD,2020-04-28 12:30:00+00:00,NaN,13012613 2020-04-28 12:30:00 +0000 UTC USD Uni...,-1,Retail Inventories Ex-Auto Adv,,Mar. 2020,0.00,,-,United States-Good Trade balance (Adv)-Retail ...,%
3,-1.00,,US,USD,2020-04-28 12:30:00+00:00,NaN,13012613 2020-04-28 12:30:00 +0000 UTC USD Uni...,-1,Wholesale Inventories Adv,,Mar. 2020,-0.50,,-,United States-Good Trade balance (Adv)-Wholesa...,%
4,-11.80,About Johnson Redbook Index1. The Johnson Redb...,US,USD,2020-04-28 12:55:00+00:00,NaN,12771971 2020-04-28 12:55:00 +0000 UTC USD Uni...,-1,Redbook MM *,,"w/o Apr. 20, 2020",-10.60,,Redb Re Inc.,United States-Redbook-Redbook MM *,%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,NaN,Rising number of new construction starts or va...,US,USD,2020-05-01 14:00:00+00:00,-3.5,12770875 2020-05-01 14:00:00 +0000 UTC USD Uni...,-1,Construction Spending MM,,Mar. 2020,-1.30,,Dept of Commerce,United States-Construction-Construction Spendi...,%
183,NaN,The Manufacturing ISM Report On Business is ba...,US,USD,2020-05-01 14:00:00+00:00,37.0,12770897 2020-05-01 14:00:00 +0000 UTC USD Uni...,-1,ISM Manuf Employment Idx,,Apr. 2020,43.80,,ISM,United States-ISM - man-ISM Manuf Employment Idx,Index
184,NaN,The Manufacturing ISM Report On Business is ba...,US,USD,2020-05-01 14:00:00+00:00,NaN,12770897 2020-05-01 14:00:00 +0000 UTC USD Uni...,-1,ISM Manuf New Orders Idx,,Apr. 2020,42.20,,ISM,United States-ISM - man-ISM Manuf New Orders Idx,Index
185,NaN,The Manufacturing ISM Report On Business is ba...,US,USD,2020-05-01 14:00:00+00:00,36.9,12770897 2020-05-01 14:00:00 +0000 UTC USD Uni...,0,ISM Manufacturing PMI,,Apr. 2020,49.10,,ISM,United States-ISM - man-ISM Manufacturing PMI,Index
186,NaN,The Manufacturing ISM Report On Business is ba...,US,USD,2020-05-01 14:00:00+00:00,35.0,12770897 2020-05-01 14:00:00 +0000 UTC USD Uni...,-1,ISM Mfg Prices Paid,,Apr. 2020,37.40,,ISM,United States-ISM - man-ISM Mfg Prices Paid,Index